// Glyphicons font path
$icon-font-path:        "/assets/fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$gold:					#c69c6d;
$dgold:					#a98751;
$gold30:				lighten($gold, 30%);
$gold15:				lighten($gold, 15%); 

$brand-primary:         $gold;
$text-color:			#222;
$input-color-placeholder:	rgba(0,0,0,0.5);

@mixin goldtrans($opacity) {
	background-color: rgba(198,156,109,$opacity);
}

@mixin whitetrans($opacity) {
	background-color: rgba(255,255,255,$opacity);
}

// Crown Noble Override Variables:

$navbar-default-bg:         	#000000;
$navbar-default-border:			$brand-primary;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;