main.main {
	position: relative;
	overflow-x: hidden;
	display: block;
	padding: 0px;
}

section.content {
	background: #F6F6F6;
	margin-top: 100px;
	padding: 50px 0px;
}

#hero {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(/assets/images/business.jpg);
	position: relative;
	background-size: cover;
	&.desktop {
		background-attachment: fixed;
	}
	
	#hero-msg {
		top: 50%;
		margin: -50px auto;
		display: block;
		position: absolute;
		
		&.cd-intro {
			width: 100% !important;
			max-width: 100% !important;
			.cd-headline {
				.cd-words-wrapper {
					text-align: center !important;
					color: white;
					width: 90% !important;
					margin: 0px 5%;
					b {
						text-align: center !important;
						font-weight: 300 !important;
						width: 100% !important;
						p {
							font-size: 100%;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

.wrap {
	height: auto;
	padding: 100px 0px;
}

#about {
	background: #EEE;
	//@include gradient-vertical($gold, $dgold, 0%, 100%);
	text-align: center;
	color: #222;
	.header {
		h1 {
			color: $gold;
		}
		&:before, &:after {
			border-bottom-color: $gold !important;
		}
		
	}
}

#latest {
	background: #EEE;
	padding: 50px 30px;
	h1 {
		margin-bottom: 20px;
		font-size: 2em;
	}
	a.entry {
		position: relative;
		background: #FAFAFA;
		border: 1px solid #DDD;
		border-radius: 4px;
		overflow: hidden;
		margin-right: 0px 15px;
		display: block;
		img {
			float: left;
			margin-right: 20px;
			border-right: 3px solid $gold;
		}
		.content {
			h2 {
				padding: 15px 10px 5px;
				margin: 0px;
				font-size: 1.5em;
			}
			time {
				text-transform: uppercase;
				color: #999;
				letter-spacing: 1px;
				padding: 0px;
				display: block;
				font-size: 0.9em;
			}
		}
		&:hover {
			background: #FFFFFF;
			text-decoration: none;
		}
	}
	a.event {
		background: #FAFAFA;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin: 10px 0px;
		overflow: hidden;
		display: block;
		position: relative;
		width: 100%;

		.date {
			@include gradient-vertical($gold, $dgold, 0%, 100%);
			float: left;
			padding: 10px 0px;
			width: 80px;
			text-align: center;
			margin-right: 20px;
			color: #F9F9F9;
			text-transform: uppercase;
			border-right: 1px solid #ddd;
			.day {
				font-weight: 700;
				font-size: 30px;
				line-height: 30px;
			}
			.month {
				letter-spacing: 3px;
				font-size: 14px;
				line-height: 14px;
			}
		}
		.title {
			h3 {
				font-weight: 300;
				margin: 0px;
				padding: 20px;
				span {
					background: $gold;
					border-radius: 4px;
					padding: 5px 10px;
					color: white;
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
					position: absolute;
					right: 20px;
					top: 17px;
					display: none;
				}
			}
		}
		//a.event:Hover
		&:hover {
			background: #FFFFFF;
			text-decoration: none;
			.date {
				color: #FFFFFF;
			}
			.title {
				h3 {
					span {
						display: inline;
						&:hover {
							background: $dgold;
						}
					}
				}	
			}
		}
		
	}
}

#subscribe {
	background: $gold;
	padding: 50px 30px;
	@include gradient-vertical($gold, $dgold, 0%, 100%);
	.mailchimp {
		padding: 0px;
		text-align: center;
		position: relative;
		form {
			display: table;

			#mc-email {
				position: relative;
				padding: 10px;
				border-radius: 4px 0px 0px 4px;
				border: 1px solid $dgold;
				background: rgba(255,255,255,0.75);
				width: 100%;
				display: inline;
				border-right: none;
				display: table-cell;
				&:hover {
					background: rgba(255,255,255,1);
				}
			}
			#mc-send {
				position: relative;
				padding: 10px 15px;
				background: rgba(0,0,0,0.75);
				color: white;
				text-transform: uppercase;
				border-radius: 0px 4px 4px 0px;
				border: 1px solid $dgold;
				border-left: none;
				display: table-cell;
				&:hover {
					background: rgba(0,0,0,1);
				}
			}
		}
	}
}

#services {
	background: #111;
	@include gradient-vertical(#111, #222, 0%, 100%);
	color: #EEE;
	text-align: center;
	padding-bottom: 50px;
	
	h3 {
		color: #666;
	}
	.container {
		margin: 0px 15px;
		.list {
			margin: 50px 0px;
			
			.service {
				a.inner {
					background: #292929;
					height: auto;
					display: block;
					margin: 15px 0px;
					text-align: center;
					padding: 30px 20px;
					@include transition(all 0.4s ease);
					
					i {
						display: inline-block;
						color: $gold;
						font-size: 500%;
						@include transition(all 0.4s ease);
					}
					h2 {
						font-size: 120%;
						color: $gold;
						font-weight: 700;
					}
					p {
						@include transition(all 0.4s ease);
					}
					button {
						background: $gold;
						color: white;
						border: none;
						border-radius: 4px;
						padding: 7px 15px;
						font-weight: 600;
						text-transform: uppercase;
						border-bottom: 3px solid $dgold;
						@include transition(all 0.4s ease);
					}

					&:hover {
						background: #333;
						@include scale(1.05);
						text-decoration: none;
						i {
							color: white;
						}
						p {
							color: white;
						}
						button {
							@include gradient-vertical($dgold, $gold);
						}
					}
				}
			}
		}
	}
}

.page-header {
	height: 300px;
	display: block;
	background-position: 50% 50%;
	background-color: #000;
	background-repeat: no-repeat;
	top: 0px;
	margin: 0px;
	text-align: center;
	padding-top: 180px;
	h1 {
		margin: 0px;
		width: 100%;
		text-align: center;
		color: white;
		font-size: 200%;
	}
	&.about {
		background-color: #494d4f;
	}
	&.services {
		background-color: #4b4947;
	}
	&.xero {
		background-color: #436165;
	}
	&.contact {
		background-color: #373333;
	}
	&.business-packages {
		background-color: #343435;
	}
	&.error { //404 Error
		background-color: #1a1007;
		background-image: url(/assets/images/404.header.jpg) !important;
	}
	&.blog { //404 Error
		background-color: #000000;
		background-image: url(/assets/images/header-blog.jpg) !important;
	}



}

.wrapper {
	&.grey {
		@include gradient-vertical(#666, #000, 0%, 100%);
		background-attachment: fixed;
	}
	&.gold {
		@include gradient-vertical($gold, $gold30, -50%, 100%);
		background-attachment: fixed;
	}
	&.light {
		@include gradient-vertical(#EEE, #F9F9F9, 0%, 100%);
	}
	.container.page {
		padding: 50px 30px;
		.header {
			margin-bottom: 50px;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.staff {
	.photo {
		text-align: center;
		padding-bottom: 30px;
		img {
			width: 200px;
			padding: 5px;
			box-shadow: 0 0 5px #CCC;
			height: auto;
		}
		h3, em {
			color: $gold;
		}
	}
}


section.services {
	color: white;

	h1 {
		font-size: 150%;
		font-weight: 600;
  		position: relative;
  		padding-bottom: 10px;
  		text-align: center;
		&:before{
		    content: "";
		    position: absolute;
		    width: 30%;
		    height: 1px;
		    bottom: 0px;
		    left: 35%;
		    border-bottom: 1px solid $gold;
		}
		
	}

	&.intro {
		color: #222;
		h1.feature {
			color: $gold;
			font-weight: 200;
			text-align: left;
			text-transform: uppercase;
			font-size: 280%;
			margin: 0px;
			&:before {
				border-bottom: none;
			}
		}
	}
}

section.packages, section.xero {
	.btn.btn-default {
		cursor: pointer;
		&:active, &:hover {
			background: $gold;
			color: white;
			cursor: pointer;
		}
	}
	.plan {
		border: 1px solid #DDD;
		display: block;
		padding: 0px;
		text-align: center;
		margin: 15px 0px;
		background: white;
		border-radius: 4px;
		.price {
			padding: 30px;
			h3 {
				font-size: 100%;
				letter-spacing: 5px;
				color: #999;
				text-transform: uppercase;
			}
			h1 {
				color: $gold;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 400%;
				line-height: 1;
				sub, sup {
					font-weight: 400;
					letter-spacing: 5px;
				}
				sup {
					vertical-align: super;
					font-size: 40%;
				}
				sub {
					vertical-align: baseline;
					font-size: 25%;
					margin-left: 5px;
					top: 0px;
					&.twoline {
						text-align: center;
						display: inline-block;
						height: auto;
						line-height: 13px;
					}
				}
			}
			i.icon-xero {
				font-size: 80px;
				color: #999;
			}
		}
		.planrow {
			display: block;
			padding: 10px 30px;
			border-top: 1px dotted #DDD;
			color: #999;
			&.odd {
				background: #F9F9F9;
			}
			&.even {
				background: #FCFCFC;
			}
		}
		.more {
			display: block;
			padding: 30px;
			border-top: 1px dotted #DDD;
			a.button {
				background: $gold;
				padding: 10px 20px;
				text-transform: uppercase;
				font-weight: 700;
				color: white;
				border-radius: 4px;
				border-bottom: 3px solid $dgold;
				&:hover {
					text-decoration: none;
					@include gradient-vertical($dgold, $gold);
				}
			}
		}
	}
}

section.contact {
	p {
		font-size: 16px;
		line-height: 24px;
	}
	i {
		color: $gold;
		padding-left: 10px;
		padding-right: 20px;
		font-size: 24px;
		&.blank {
			opacity: 0;
		}
	}
}

header.blog {
	.blogbar {
		background: $gold;
		margin: 100px 0px 0px;
		padding: 20px;
		text-align: center;
		
	}
}

section.error {

}

section.events {
	.event-wrapper {
		.type-tribe_events {
			border: 1px solid #DDD;
			display: block;
			margin: 10px -15px;
			background: white;
			border-radius: 4px;
			overflow: hidden;
			padding: 50px;
		}
	}
}



@media (min-width: $screen-sm-min) {
	#hero {
		display: block;
		#hero-msg {
			&.cd-intro {
				.cd-headline {
					.cd-words-wrapper {
						b {
							p {
								font-size: 80%;
							}
						}
					}
				}
			}
		}
	}

	#latest {
		h1 {
			margin-bottom: 30px;
			font-size: 3em;
		}
		a.entry {
			
			img {
				
			}
			.content {
				h2 {
					font-size: 2em;
				}
				time {
					letter-spacing: 2px;
					font-size: 1em;
				}
			}
			&:hover {
				
			}
		}
		a.event {
			
			.date {
				
				.day {
					
				}
				.month {
					
				}
			}
			.title {
				h3 {
					font-weight: 400;
					margin: 0px;
					padding: 20px;
					span {
						
					}
				}
			}
			//a.event:Hover
			&:hover {
				background: #FFFFFF;
				text-decoration: none;
				.date {
					color: #FFFFFF;
				}
				.title {
					h3 {
						span {
							display: inline;
							&:hover {
								background: $dgold;
							}
						}
					}	
				}
			}
			
		}
	}


	#subscribe {
		.mailchimp {
			text-align: center;
			form {
				width: 300px;
				margin: 0px auto;
				#mc-email {
					width: 300px;
					&:hover {
						
					}
				}
				#mc-send {
					&:hover {
						
					}
				}
			}
		}
	}

	#services {
		.container {
			margin: 0px auto;
			.list {
				.service {
					a.inner {
						height: 400px;
						margin: 15px 0px;
					}
				}
			}
		}
		
	}
	.page-header {
		height: 300px;
		margin-top: 100px;
		padding-top: 130px;
		h1 {
			font-size: 250%;
		}
	}

	.staff {
		.photo {
			img {
				width: 140px;
				height: auto;
				padding: 5px;
				margin: 10px auto;
				background: #FFF;
			}
		}
	}

	header.blog {
	.blogbar {
		.search-field {
			width: 300px;
		}
		.search-submit {
		
		}
	}
	}

	section.events {
		.event-wrapper {
			.type-tribe_events {
				margin: 10px 0px;
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	#hero {
		background-attachment: fixed;
		#hero-msg {
			&.cd-intro {
				.cd-headline {
					.cd-words-wrapper {
						b {
							p {
								font-size: 100%;
							}
						}
					}
				}
			}
		}
		
	}
	.page-header {
		h1 {
			font-size: 280%;
		}
	}
	.wrapper {
		.container.page {
			padding: 100px 30px;
		}	
	}

	.staff {
		.photo {
			img {
				width: 200px;
				height: auto;
				background: #FFF;
				padding: 5px;
				margin: 10px auto;
			}
			h3 {
				color: $gold;
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	#hero {

	}
}